$( document ).ready(function() {

$("#email_object<%=@email.id%>").on("click", function () {
	$("#email_body<%=@email.id%>").fadeIn();
	$("#email_object<%=@email.id%>").css({'font-weight': '400'});
	$("#email_object<%=@email.id%>").append("<p><i> - Lu </i></p>");
	$("#email_object<%=@email.id%> #btn").hide();	

	
}).click();

});

